'({:set #{1 3 19 9}, :ratio 1, :bounded-ratio 1, :bounding-period 2}
  {:set #{7 21 3 19}, :ratio 49/3, :bounded-ratio 49/48, :bounding-period 2}
  {:set #{15 21 3 9}, :ratio 315/19, :bounded-ratio 315/304, :bounding-period 2}
  {:set #{7 1 15 21}, :ratio 245/57, :bounded-ratio 245/228, :bounding-period 2}
  {:set #{7 15 19 9}, :ratio 35, :bounded-ratio 35/32, :bounding-period 2}
  {:set #{15 21 3 19}, :ratio 35, :bounded-ratio 35/32, :bounding-period 2}
  {:set #{1 21 3 9}, :ratio 21/19, :bounded-ratio 21/19, :bounding-period 2}
  {:set #{7 1 19 9}, :ratio 7/3, :bounded-ratio 7/6, :bounding-period 2}
  {:set #{1 21 3 19}, :ratio 7/3, :bounded-ratio 7/6, :bounding-period 2}
  {:set #{7 15 21 9}, :ratio 735/19, :bounded-ratio 735/608, :bounding-period 2}
  {:set #{7 1 15 3}, :ratio 35/57, :bounded-ratio 70/57, :bounding-period 2}
  {:set #{1 15 19 9}, :ratio 5, :bounded-ratio 5/4, :bounding-period 2}
  {:set #{7 15 21 19}, :ratio 245/3, :bounded-ratio 245/192, :bounding-period 2}
  {:set #{7 1 21 9}, :ratio 49/19, :bounded-ratio 49/38, :bounding-period 2}
  {:set #{21 3 19 9}, :ratio 21, :bounded-ratio 21/16, :bounding-period 2}
  {:set #{7 1 21 19}, :ratio 49/9, :bounded-ratio 49/36, :bounding-period 2}
  {:set #{1 15 21 9}, :ratio 105/19, :bounded-ratio 105/76, :bounding-period 2}
  {:set #{7 15 3 9}, :ratio 105/19, :bounded-ratio 105/76, :bounding-period 2}
  {:set #{1 15 21 19}, :ratio 35/3, :bounded-ratio 35/24, :bounding-period 2}
  {:set #{7 15 3 19}, :ratio 35/3, :bounded-ratio 35/24, :bounding-period 2}
  {:set #{7 1 3 9}, :ratio 7/19, :bounded-ratio 28/19, :bounding-period 2}
  {:set #{7 21 19 9}, :ratio 49, :bounded-ratio 49/32, :bounding-period 2}
  {:set #{7 1 3 19}, :ratio 7/9, :bounded-ratio 14/9, :bounding-period 2}
  {:set #{1 15 3 9}, :ratio 15/19, :bounded-ratio 30/19, :bounding-period 2}
  {:set #{7 15 21 3}, :ratio 245/19, :bounded-ratio 245/152, :bounding-period 2}
  {:set #{15 21 19 9}, :ratio 105, :bounded-ratio 105/64, :bounding-period 2}
  {:set #{1 15 3 19}, :ratio 5/3, :bounded-ratio 5/3, :bounding-period 2}
  {:set #{7 1 21 3}, :ratio 49/57, :bounded-ratio 98/57, :bounding-period 2}
  {:set #{1 21 19 9}, :ratio 7, :bounded-ratio 7/4, :bounding-period 2}
  {:set #{7 3 19 9}, :ratio 7, :bounded-ratio 7/4, :bounding-period 2}
  {:set #{7 1 15 9}, :ratio 35/19, :bounded-ratio 35/19, :bounding-period 2}
  {:set #{1 15 21 3}, :ratio 35/19, :bounded-ratio 35/19, :bounding-period 2}
  {:set #{15 3 19 9}, :ratio 15, :bounded-ratio 15/8, :bounding-period 2}
  {:set #{7 21 3 9}, :ratio 147/19, :bounded-ratio 147/76, :bounding-period 2}
  {:set #{7 1 15 19}, :ratio 35/9, :bounded-ratio 35/18, :bounding-period 2})
