/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/native
/**/##*
/**/#*
/**/.#*
/**/.DS_Store
.clj-kondo/.cache
.clj-kondo/babashka
.lsp/
.cpcache
recordings/*
!recordings/.gitkeep
samples/habitat_samples/test*
resources/*.wav
.cider-repl-history
