{:paths ["src" "dev" "test" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/core.async {:mvn/version "1.3.618"}
        org.clojure/tools.namespace {:mvn/version "1.2.0"}
        http-kit/http-kit {:mvn/version "2.7.0"}
        potemkin/potemkin {:mvn/version "0.4.5"}
        instaparse/instaparse {:mvn/version "1.5.0"}
        org.clojure/data.generators {:mvn/version "1.0.0"}
        io.github.diegovdc/overtone {:git/url "https://github.com/diegovdc/overtone.git"
                                     :sha "a9395fdea0acf4574bb2a94ff39b59d4212117a3"} #_{:local/root "../overtone" :deps/manifest :deps}
        ;; videco/piratidal {:local/root "../../../code/piratidal" :deps/manifest :deps}
        io.github.diegovdc/time-time {:git/url "https://github.com/diegovdc/time-time.git"
                                      :sha "035a1accd4b3ac955aec246d68334aec133ad230"}
        #_{:local/root "../time-tiem" :deps/manifest :deps}
        io.github.diegovdc/erv #_{:git/url "https://github.com/diegovdc/erv.git"
                                  :sha "31655128b5421c82431f519f99fdc2a95ad4636f"
                                ;; :tag "0.0.7"
                                  }{:local/root "../erv" :deps/manifest :deps}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        incanter/incanter {:mvn/version "1.9.3"}
        ;; The next two fix the erroneous call to a the bounccastle dep by incanter
        com.lowagie/itext {:mvn/version "2.1.7"
                           :exclusions  [bouncycastle/bctsp-jdk14]}
        org.bouncycastle/bctsp-jdk14 {:mvn/version "1.38"}
        ;; working with intervals
        io.helins/interval {:mvn/version "1.0.0-beta0"}
        clj-kondo/clj-kondo {:mvn/version "2023.05.18"}
        thi.ng/color {:mvn/version "1.4.0"}
        ;; another interesting possibility, may offer other options
        ;; com.dean/interval-tree {:mvn/version  "0.1.2"}
        djblue/portal {:mvn/version "0.62.2"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}
           :codox {:extra-deps {codox/codox {:mvn/version "0.10.8"}}
                   :extra-paths ["build-scripts"]
                   :exec-fn docs/run-codox-with-timeout
                   :exec-args {:timeout-ms 30000
                               :codox-args {:output-path "docs"
                                            :source-paths ["src"]}}}}}
