{:paths ["src" "dev" "test" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.async {:mvn/version "1.3.618"}
        org.clojure/tools.namespace {:mvn/version "1.2.0"}
        http-kit/http-kit {:mvn/version "2.7.0"}
        potemkin/potemkin {:mvn/version "0.4.5"}
        org.clojure/data.generators {:mvn/version "1.0.0"}
        io.github.diegovdc/overtone {:git/url "https://github.com/diegovdc/overtone.git"
                                     :sha "eb0f20fa08215e2203f261fbb259c42ee9e1e7c4"} #_{:local/root "../overtone" :deps/manifest :deps}
        videco/piratidal {:local/root "../../../code/piratidal" :deps/manifest :deps}
        io.github.diegovdc/time-time {:git/url "https://github.com/diegovdc/time-time.git"
                                      :sha "3dda2b5ef43a297f7bba98d414b7009dfbdd5c63"} #_{:local/root "../time-tiem" :deps/manifest :deps}
        io.github.diegovdc/erv {:git/url "https://github.com/diegovdc/erv.git"
                                :sha "d6302f0c0a8314b0fe423e27d4d8fa5adb27fc25"
                                ;; :tag "0.0.7"
                                } #_{:local/root "../erv" :deps/manifest :deps}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        incanter/incanter {:mvn/version "1.9.3"}
        ;; The next two fix the erroneous call to a the bounccastle dep by incanter
        com.lowagie/itext {:mvn/version "2.1.7"
                           :exclusions  [bouncycastle/bctsp-jdk14]}
        org.bouncycastle/bctsp-jdk14 {:mvn/version "1.38"}
        ;; working with intervals
        io.helins/interval {:mvn/version "1.0.0-beta0"}
        clj-kondo/clj-kondo {:mvn/version "2023.05.18"}
        thi.ng/color {:mvn/version "1.4.0"}
        ;; another interesting possibility, may offer other options
        ;; com.dean/interval-tree {:mvn/version  "0.1.2"}
        }}
