{;; :skip-comments true ;; may have the sideeffect of removing requires of things only used in comments
 :linters {:unresolved-symbol {:exclude [(time-time.dynacan.players.gen-poly/on-event
                                           [at-index index dur dur-s at-i i data])
                                         (tieminos.compositions.garden-earth.base/on-event
                                           [at-index index dur dur-s at-i i])]}
           :unresolved-var [overtone.core]
           :refer-all {:exclude [overtone.core]}}
 ;; :lint-as {overtone.core/defsynth clojure.core/def}
 :hooks {:analyze-call {;; overtone.core/defsynth hooks.defsynth/defsynth
                        tieminos.overtone-extensions/defsynth hooks.defsynth/defsynth}}}
