{:date #inst "2024-12-24T00:18:52.959-00:00", :touch-osc-state {"/gusano/durs" (1), "/Milo/harmonic-speed" (0.11572015), "/save-preset" (1.0), "/Milo/bank-delete-btn" (0.0), "/gusano/rates-seq-speed" (0.3767891), "/gusano/gusano-active-btn" (0.0), "/gusano/grain-dur" (0.5430645), "/Milo/toggle-bank/5" ("on" 1.0 "index" 5), "/gusano/rates" (3), "/Milo/rec-mic-2-btn" (0.0), "/Milo/harmony-radio" (0), "/gusano/amp" (0.57216644), "/Milo/synth-radio" (1), "/Milo/bank-rec-radio" (3), "/Milo/rec-durs-radio" (1), "/Diego/clouds-env-radio" (2), "/Milo/rec-pulse-radio" (1), "/Milo/toggle-bank/2" ("on" 1.0 "index" 2), "/Milo/clouds-sample-lib-size-radio" (1), "/Diego/harmonic-lowest-note" (0.4388822), "/Milo/toggle-bank/6" ("on" 1.0 "index" 6), "/gusano/grain-trig" (0.6210746), "/gusano/period" (1), "/Milo/rec-mic-1-btn" (0.0), "/Milo/clouds-env-radio" (1), "/Diego/clouds-rhythm-radio" (1), "/Milo/bank-delete-all-btn" (0.0)}}